<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viajes"
        tools:targetApi="31">

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- HomeActivity -->
        <activity android:name=".inicio.HomeActivity" />
        <activity android:name=".loginregister.LoginActivity" />
        <activity android:name=".loginregister.RegisterActivity" />
        <activity android:name=".viajes.TouristPlacesActivity" />
        <activity android:name=".viajes.TouristPlaceDetailActivity" />
        <activity android:name=".viajes.GenerateTripActivity" />
        <activity android:name=".viajes.GenerateTicketActivity" />
        <activity android:name=".hospedaje.HotelActivity" />
        <activity android:name=".hospedaje.HotelDetailActivity" />
        <activity android:name=".hospedaje.TicketActivity" />
        <activity android:name=".restaurante.MainRestaurante" />
        <activity android:name=".restaurante.MostrarDireccionActivity" />

    </application>

</manifest>
